.footer {
    margin-top: auto;
    position: absolute;
    bottom: -150px;
    left: 0;
    height: 30px;
    width: 100%;
    color: white;
    text-align: center;
    background-color: rgb(32, 31, 31);
}
.footer p{
    margin-top: 0px;
}